@tailwind base;
@tailwind components;
@tailwind utilities;

@config "../../tailwind.config.js";

:root {
  --main-bg: #0A435D;
}


html {
  background-color: var(--main-bg);
  margin: 0 2em;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  font-family: var(--proza);
  font-size:large;
  color:var(--contrast);
  text-decoration:none;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;

}

a:hover {
  color: var(--light-green);;
  transition-duration: 0.5s;
  transform: translateY(-3px);
  transition: 0.2s;

}

nav {
  background-color: var(--main);
  border-radius: 20px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 3em;
}

h1{
  color: var(--contrast);
  font-family: var(--montserrat);
}

b{
  color: var(--light-green);
}

/*Clases*/

/* Nombre */
.webdev {
  width: 20%;
  margin: 1.5em 0 0 1em;
  text-align: center;
}

.name {
  font-family: var(--montserrat);
  color: var(--contrast);
  font-size: 2em;
}

.developer {
  color: var(--light-green);
  font-family: var(--della);
  font-size: 1.50em;
  display: block;
}

/* Redes */

.social {
  display: flex; 
  justify-content: flex-end;
  margin: 0 2em 0.5em 0;
}

.social-img
{
  display: flex;
  justify-content: flex-end;
  margin: 0 0.5em 0.5em 0;
  width: 2.4%;
  border-radius: 100%;
}

.social-img:hover{
  background-color: var(--light-green);
  transition-duration: 0.6s;
}

/* Introducción */
.avatar {
  width: 40%;
  height: 40%;
  margin: 0 1em;
  border-radius: 100%;
}

.description {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 2em;
  height: 50vh;
  position: relative;
}

.description::before {
  background-image: url(./wave_background.jpg);
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 20px;
  opacity: 0.25;
}

.description > div {
  display: flex;
  width: 50%;
  position: relative;
  justify-content:center;
  align-items: center;
}

.description > div > span {
  color: var(--white);
  font-size: medium;
  font-family: var(--della);
  height: 40%;
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 3px dotted var(--main);
  text-align: center;
  height: 80vh;
}