@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.ttf");
}
@font-face {
  font-family: "Proza";
  src: url("../fonts/ProzaLibre-Regular.ttf");
}
@font-face {
  font-family: "Della";
  src: url("../fonts/DellaRespira-Regular.ttf");
}
@font-face {
  font-family: "Hind";
  src: url("../fonts/HindMysuru-Regular.ttf");
}


html {
  background: radial-gradient(50% 50% at 50% 50%, #2f3e52 27.6%, #202833 100%);;
}


img {
  max-width: 100%;
  max-height: 100%;
}

a {
  transition: 0.2s;
}

a:hover {
  color: theme('colors.darker-blue');
  transform: translateY(-4px);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

nav {
  background-color: var(--main);
  border-radius: 20px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 3em;
}

h1{
  color: white;
  font-family: theme('fontFamily.montserrat');
  font-size: 1.5em;
  font-weight: 700;
}

#avoidHover {
  transform: none;
}

h2 {
  color: theme('colors.main-blue');
  font-family: theme('fontFamily.della');
  font-size: 1.50em;
  font-weight: 400;
}

b{
  color: var(--light-green);
}

/*Clases*/

/* Introducción */
.avatar {
  width: 40%;
  height: 40%;
  margin: 0 1em;
  border-radius: 100%;
}

.description {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 4em;
  height: fit-content;
  padding: 2em;
  position: relative;
}

.description::before {
  background-image: url(./img/wave_background.jpg);
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 20px;
  opacity: 0.25;
}

.description > div {
  display: flex;
  width: 50%;
  position: relative;
  justify-content:center;
  align-items: center;
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 3px dotted var(--main);
  text-align: center;
  height: 80vh;
}